

@import url('https://fonts.googlepis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');  */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


*,::before,::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

body{
    background-color: #14171b;
}

.container{
    /* padding: 20px 0 0; */
    /* border: 1px solid red; */
    width: 100%;
}

.container .con-title{
    color: #fff;
    text-align: center;
    margin-bottom: 4vw;
    margin-left: 2vw;
}

.con-title h3{
    font-size: 2.3vw;
}

.con-title h1{
    font-size:4vw;
}

.slider-body{
     position: relative;
    /* border: 1px solid rgb(192, 165, 165); */
    /* display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; */
}


.slider-item{
    color: #fff;
    opacity: 0.9;
    transform: scale(0.8);
    transition: opacity 0.4s, transform 0.4s;
    position: relative;
    /* border: 1px solid rgb(231, 206, 206); */
    width: 19vw;
}

.slider-img-body{
    width: 19vw;
    height: 22vw;
    background: linear-gradient(149.38deg, #401E3B -43.08%, #281F2D 141.12%);
box-shadow: 1.31106px 3.93319px 5.89978px rgba(0, 0, 0, 0.25);
    position: relative;
}

.slider-img-body h1{
    position: absolute;
    top: 0;
    right: 2vw;
    font-size: 3vw;   
 }

 .slider-img-body h2{
    position: absolute;
    bottom: 1vw;
    left: 1.4vw;
    font-size: 2.2vw;
 }

.slider-info{
    display: none;
}

.owl-item.active.center .slider-item{
    opacity: 1;
    transform: scale(1);
    position: relative;
    height: 45vw;
    width: 50vw;
}


.owl-item.active.center .slider-item .slider-info{
    display: flex;
    flex-direction: column;
    top: 5vw;
}

.owl-item.active.center .slider-item .slider-img-body{
    background: #2D235C;
    box-shadow: 1.76202px 5.28607px 7.92911px rgba(0, 0, 0, 0.25);
    width: 18vw;
    height: 22vw;
    position: relative;
    
}

.owl-item.active.center .slider-item .slider-img-body h1{
   position: absolute;
   top: 0;
   right: 2vw;
   font-size: 3vw;
    
}

.owl-item.active.center .slider-item .slider-img-body h2{
   position: absolute;
   bottom: 1vw;
   left: 1.4vw;
   font-size: 2.2vw;   
}

.owl-item.active.center .slider-item .slider-description {
    font-size: 2.2vw;
    position: absolute;
    left: -20vw;
    top: 25vw;
    /* border: 1px solid wheat; */
    text-align: center;
    font-weight: 100;
}


.slider-arrows{
    position: absolute;
    width: 100%;
    height: 100%;
}

.arrow{
    position: absolute;
    top: 9vw;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: transparent;
    border: 1px solid #fff;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.4s;
}

.arrow-left{
    left: 0;
    
}

.arrow-right{
    right: 0;
}

/*Arrow-left*/
 .arrow-left:before{
    content: "";
    position: absolute;
    transform: translate(0px, -1.5px) rotateZ(40deg);
    transform-origin: left;
    width: 50%;
    height: 5px;
    display: block;
    border-radius: 50px;
    background-color: #fff;
    transition: background-color 0.4s;
}

.arrow-left:after{
    content: "";
    position: absolute;
    transform: translate(0px, 1.5px) rotateZ(320deg);
    transform-origin: left;
    width: 50%;
    height: 5px;
    display: block;
    border-radius: 50px;
    background-color: #fff;
    transition: background-color 0.4s;
} 

/*Arrow-left*/


/*Arrow-right*/
 .arrow-right:before{
    content: "";
    position: absolute;
    transform: translate(0px, 1.5px) rotateZ(40deg);
    transform-origin: right;
    width: 50%;
    height: 5px;
    display: block;
    border-radius: 50px;
    background-color: #fff;
    transition: background-color 0.4s;
}

.arrow-right:after{
    content: "";
    position: absolute;
    transform: translate(0px, -1.5px) rotateZ(320deg);
    transform-origin: right;
    width: 50%;
    height: 5px;
    display: block;
    border-radius: 50px;
    background-color: #fff;
    transition: background-color 0.4s;
} 

/*Arrow-right*/



.arrow:hover{
    background-color: #fff;
}

.arrow:hover:before{
    background-color: #ff264a;
}

.arrow:hover:after{
    background-color: #ff264a;
 }


 .container .bottom{
    text-align: center;
    margin-top: 2vw;
    margin-bottom: 3vw;
 }

 
.container 
.bottom a {
    font-size: .9rem;
    padding: .6rem .8rem;
    background: #2C235C;
    color: #fff;
    cursor: pointer;
    border: none;
    transition: .4s;
    text-decoration: none;
    margin-left: 2vw;
}

.container .bottom a:hover{
    background: #CB1254;
    border-color: #CB1254;
}

@media screen and (max-width:500px) {
    
.con-title h3{
    font-size: 2.6vw;
}

.con-title h1{
    font-size:5vw;
}


.slider-img-body{
    width: 23vw;
    height: 25vw;
    margin-left: 1vw;
}


.slider-img-body h1{
    right: 2vw;
    font-size: 4vw;   
 }

 .slider-img-body h2{
    font-size: 2.4vw;
 }

 .owl-item.active.center .slider-item{
    height: 60vw;
    width: 50vw;
}


 .owl-item.active.center .slider-item .slider-img-body{
    margin-left: 2vw;
    width: 20vw;   
    height: 24vw;
}


.owl-item.active.center .slider-item .slider-description {
    font-size: 3vw;
}

.container .bottom a{
    font-size: 3vw;
}



}

/* 
@media screen and (min-width: 1650px) {
    .slider-img-body{
        height: auto;
    }
}

@media screen and (min-width: 750px) {
    .container{
        padding: 40px 20px;
    }

    .slider-img-body{
        height: auto;
    }
    .arrow-left{
        left: -10px;
    }

    .arrow-right{
        right: -10px;
    }
}  */